main {
    .banner {
        background-image: url("../images/jumbotron.jpg");
        min-height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.comics {
    background-color: $main-bg-grey;
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    .container {
        position: relative;
        padding: 2rem 0;
    }
    .section-tag {
        background-color: $brand-primary-color;
        display: inline-block;
        padding: 0.5rem;
        color: white;
        text-transform: uppercase;
        position: absolute;
        top: -1rem;
        left: 0;
    }
}
