$brand-primary-color: #0282f9;
$brand-secondary-color: #dae9fe;
$green-bg: #55ba59;
$green-light: #b3ff67;
$main-bg-grey: #1c1c1c;
$bg-lightgrey: #f6f6f6;
$bg-midgrey: #cccccc;
$text-grey: #959595;
$text-darkgrey: #464646;
$header-height: 6rem;